#root { 
  max-width: 1280px;
  margin: 0 auto;
}

.centered-container {
  max-width: 400px; /* Default maximum width */
  width: 100%; /* Ensure container is responsive on small screens */
  margin: 40px auto 40px; /* Center align the content */
  padding: 20px; /* Add padding for whitespace on the sides */
  padding-top: 20px;
  background-color: #fff; /*  background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*  add shadow effect */
  border-radius: 8px; /* rounded corners */
}

@media (min-width: 1024px) {
  .centered-container {
    max-width:50%; /* Width set to 1/2 of the page on large screens */
  }
}

@media (max-width: 767px) {
  .centered-container {
    max-width: 90%; /* Width is close to full screen on small screens, with a 10% margin */
  }
}

/* ReminderForm time*/
.form-group {
  margin-bottom: 1rem;
}


.time-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}


.button-add, .button-remove {
  background: none;
  border: none;
  padding: 0;
  margin-left: 20px;
  cursor: pointer;
  margin-top: 25px;
  padding-top: 3px;
}

.button-add img, .button-remove img {
  width: 20px;
  height: 20px;
}

/* Flashing effect */
/* Fade-in and fade-out effect */
.flash {
  animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ReminderItem style */
.reminder-item {
  display: grid; /* Use grid layout */
  grid-template-columns: 1fr auto; /* Define two columns: first column takes remaining space, second column for the checkbox */
  gap: 10px; /* Spacing between columns */
  padding: 12px;
  border-radius: 8px; /* Rounded corners */
  border: 1px solid #ddd; /* Softer border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  background-color: #fff;
  transition: all 0.3s ease; /* Smooth transition */
  position: relative; /* Position the checkbox fixed to the right */
  margin-bottom: 10px; /* Spacing between each item */
  width: 100%; /* Ensure item takes up full width of parent container */
}

.reminder-item.completed {
  background-color: #f0f0f0; /* Softer background color for completed items */
  text-decoration: line-through; /* Strikethrough style */
}

.reminder-item .reminder-content {
  display: flex;
  align-items: flex-start; /* Ensure text and image are vertically aligned */
  cursor: pointer; /* Cursor changes to pointer on hover */
  padding-bottom: 5px; /* Add spacing between time and dosage */
  grid-column: span 2; /* Make reminder-content span two columns */
  width: 100%; /* Ensure reminder-content takes up full width of parent container */
}

.reminder-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px; /* Spacing between image and text */
}

.reminder-item .text-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensure text-content takes up remaining space */
}

.reminder-item .text-content .name {
  font-size: 16px;
  color: #333;
}

.reminder-item.completed .text-content .name {
  color: #888;
}

.reminder-item .time-dosage {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 12px; /* Smaller font size */
  color: #888; /* Use light gray color */
}

.reminder-item .time-dosage span {
  margin-right: 15px;
}

.reminder-item input[type="checkbox"] {
  position: absolute;
  top: 50%; /* Vertically center the checkbox */
  right: 10px; /* Small margin from the right side */
  transform: translateY(-50%); /* Full centering */
  width: 16px; /* Adjust checkbox size */
  height: 16px; /* Adjust checkbox size */
  cursor: pointer; /* Pointer cursor */
  accent-color: #007bff; /* Default color */
  transition: all 0.3s ease; /* Smooth transition */
}

.reminder-item.completed input[type="checkbox"] {
  accent-color: #888; /* Dark gray color after being checked */
}
